main.mainclass
  section.section-hero
    .hero
      .hero-text-box
        h1.heading-primary
          | A healthy 🅾🆁🅶🅰🅽🅸🅲 🅵🅾🅾🅳 delivered to your door, every single day
        p.hero-description
          | The smart 365-days-per-year food subscription that will make you
          | eat healthy again. Tailored to your personal tastes and
          | nutritional needs.
        a.btn.btn--full.margin-right-sm(href="#") Start eating well
        a.btn.btn--outline(href="#") Learn more &amp;darr;
        .delivered-meals
          .delivered-imgs
            img(src="img/customers/customer-1.jpg", alt="Customer photo")
            img(src="img/customers/customer-2.jpg", alt="Customer photo")
            img(src="img/customers/customer-3.jpg", alt="Customer photo")
            img(src="img/customers/customer-4.jpg", alt="Customer photo")
            img(src="img/customers/customer-5.jpg", alt="Customer photo")
            img(src="img/customers/customer-6.jpg", alt="Customer photo")
          p.delivered-text
            span 250,000+
            | meals delivered last year!
      .hero-img-box
        img.hero-img(src="img/New Project (4).png", alt="Woman enjoying food, meals in storage container, and food bowls on a table")
  section.section-meals#sectionRecipes
    .container.center-text      
      h2.heading-secondary
        |🅾🆁🅶🅰🅽🅸🅲 🅵🅾🅾🅳 has 𝟭𝟬𝟬+ recipes
    .container.grid.grid--3-cols.margin-bottom-md
      .meal
        img.meal-img(src="img/meals/meal-4.png", alt="Japanese Gyozas")
        .meal-content
          .meal-tags
            span.tag.tag--vegetarian Vegetarian
          p.meal-title Japanese Gyozas
          ul.meal-attributes
            li.meal-attribute
              ion-icon.meal-icon(name="flame-outline")
              span
                strong 650
                | calories
            li.meal-attribute
              ion-icon.meal-icon(name="restaurant-outline")
              span NutriScore &amp;reg; 
                strong 74
            li.meal-attribute
              ion-icon.meal-icon(name="star-outline")
              span
                strong 4.9
                | rating (537)
            li.meal-attribute
              ion-icon.meal-icon(name="star-outline")
              span
                | price (37$)
        a.main-nav-link.order(href="") Order Now 
      .meal
        img.meal-img(src="img/meals/meal-5.png", alt="Avocado Salad")
        
        .meal-content
          .meal-tags
            span.tag.tag--vegan Vegan
            span.tag.tag--paleo Paleo
          p.meal-title Avocado Salad
          ul.meal-attributes
            li.meal-attribute
              ion-icon.meal-icon(name="flame-outline")
              span
                strong 400
                | calories
            li.meal-attribute
              ion-icon.meal-icon(name="restaurant-outline")
              span NutriScore &amp;reg; 
                strong 92
            li.meal-attribute
              ion-icon.meal-icon(name="star-outline")
              span
                strong 4.8
                | rating (441)
            li.meal-attribute
              ion-icon.meal-icon(name="star-outline")
              span
                | price (37$)    
        a.main-nav-link.order(href="") Order Now        
      .meal
        img.meal-img(src="img/meals/meal-1.jpg", alt="Japanese Gyozas")
        .meal-content
          .meal-tags
            span.tag.tag--vegetarian Vegetarian
          p.meal-title Japanese Gyozas
          ul.meal-attributes
            li.meal-attribute
              ion-icon.meal-icon(name="flame-outline")
              span
                strong 650
                | calories
            li.meal-attribute
              ion-icon.meal-icon(name="restaurant-outline")
              span NutriScore &amp;reg; 
                strong 74
            li.meal-attribute
              ion-icon.meal-icon(name="star-outline")
              span
                strong 4.9
                | rating (537)
            li.meal-attribute
              ion-icon.meal-icon(name="star-outline")
              span
                | price (37$)
        a.main-nav-link.order(href="") Order Now 
      .meal
        img.meal-img(src="img/meals/meal-2.jpg", alt="Avocado Salad")
        
        .meal-content
          .meal-tags
            span.tag.tag--vegan Vegan
            span.tag.tag--paleo Paleo
          p.meal-title Avocado Salad
          ul.meal-attributes
            li.meal-attribute
              ion-icon.meal-icon(name="flame-outline")
              span
                strong 400
                | calories
            li.meal-attribute
              ion-icon.meal-icon(name="restaurant-outline")
              span NutriScore &amp;reg; 
                strong 92
            li.meal-attribute
              ion-icon.meal-icon(name="star-outline")
              span
                strong 4.8
                | rating (441)
            li.meal-attribute
              ion-icon.meal-icon(name="star-outline")
              span
                | price (37$)    
        a.main-nav-link.order(href="") Order Now        
      .meal
        img.meal-img(src="img/meals/meal-1.jpg", alt="Japanese Gyozas")
        .meal-content
          .meal-tags
            span.tag.tag--vegetarian Vegetarian
          p.meal-title Japanese Gyozas
          ul.meal-attributes
            li.meal-attribute
              ion-icon.meal-icon(name="flame-outline")
              span
                strong 650
                | calories
            li.meal-attribute
              ion-icon.meal-icon(name="restaurant-outline")
              span NutriScore &amp;reg; 
                strong 74
            li.meal-attribute
              ion-icon.meal-icon(name="star-outline")
              span
                strong 4.9
                | rating (537)
            li.meal-attribute
              ion-icon.meal-icon(name="star-outline")
              span
                | price (37$)
        a.main-nav-link.order(href="") Order Now 
      .meal
        img.meal-img(src="img/meals/meal-2.jpg", alt="Avocado Salad")
        
        .meal-content
          .meal-tags
            span.tag.tag--vegan Vegan
            span.tag.tag--paleo Paleo
          p.meal-title Avocado Salad
          ul.meal-attributes
            li.meal-attribute
              ion-icon.meal-icon(name="flame-outline")
              span
                strong 400
                | calories
            li.meal-attribute
              ion-icon.meal-icon(name="restaurant-outline")
              span NutriScore &amp;reg; 
                strong 92
            li.meal-attribute
              ion-icon.meal-icon(name="star-outline")
              span
                strong 4.8
                | rating (441)
            li.meal-attribute
              ion-icon.meal-icon(name="star-outline")
              span
                | price (37$)    
        a.main-nav-link.order(href="") Order Now                          
    .container.all-recipes
      a.link(href="#") See all recipes &amp;rarr;
  section.section-testimonials
    .testimonials-container
      span.subheading Testimonials
      h2.heading-secondary Once you try it, you can&apos;t go back
      .testimonials
        figure.testimonial
          img.testimonial-img(alt="Photo of customer Dave Bryson", src="img/customers/dave.jpg")
          blockquote.testimonial-text
            | Inexpensive, healthy and great-tasting meals, without even
            | having to order manually! It feels truly magical.
          p.testimonial-name &amp;mdash; Dave Bryson
        figure.testimonial
          img.testimonial-img(alt="Photo of customer Ben Hadley", src="img/customers/ben.jpg")
          blockquote.testimonial-text
            | The AI algorithm is crazy good, it chooses the right meals for
            | me every time. It&apos;s amazing not to worry about food anymore!
          p.testimonial-name &amp;mdash; Ben Hadley
        figure.testimonial
          img.testimonial-img(alt="Photo of customer Steve Miller", src="img/customers/steve.jpg")
          blockquote.testimonial-text
            | Omnifood is a life saver! I just started a company, so there&apos;s
            | no time for cooking. I couldn&apos;t live without my daily meals now!
          p.testimonial-name &amp;mdash; Steve Miller
        figure.testimonial
          img.testimonial-img(alt="Photo of customer Hannah Smith", src="img/customers/hannah.jpg")
          blockquote.testimonial-text
            | I got Omnifood for the whole family, and it frees up so much
            | time! Plus, everything is organic and vegan and without plastic.
          p.testimonial-name &amp;mdash; Hannah Smith
    .gallery
      figure.gallery-item
        img(src="img/gallery/gallery-1.jpg", alt=`Photo of beautifully
            arranged food`)
        // <figcaption>Caption</figcaption>
      figure.gallery-item
        img(src="img/gallery/gallery-2.jpg", alt=`Photo of beautifully
            arranged food`)
      figure.gallery-item
        img(src="img/gallery/gallery-3.jpg", alt=`Photo of beautifully
            arranged food`)
      figure.gallery-item
        img(src="img/gallery/gallery-4.jpg", alt=`Photo of beautifully
            arranged food`)
      figure.gallery-item
        img(src="img/gallery/gallery-5.jpg", alt=`Photo of beautifully
            arranged food`)
      figure.gallery-item
        img(src="img/gallery/gallery-6.jpg", alt=`Photo of beautifully
            arranged food`)
      figure.gallery-item
        img(src="img/gallery/gallery-7.jpg", alt=`Photo of beautifully
            arranged food`)
      figure.gallery-item
        img(src="img/gallery/gallery-8.jpg", alt=`Photo of beautifully
            arranged food`)
      figure.gallery-item
        img(src="img/gallery/gallery-9.jpg", alt=`Photo of beautifully
            arranged food`)
      figure.gallery-item
        img(src="img/gallery/gallery-10.jpg", alt=`Photo of beautifully
            arranged food`)
      figure.gallery-item
        img(src="img/gallery/gallery-11.jpg", alt=`Photo of beautifully
            arranged food`)
      figure.gallery-item
        img(src="img/gallery/gallery-12.jpg", alt=`Photo of beautifully
            arranged food`)
  section.section-pricing
    .container
      span.subheading Pricing
      h2.heading-secondary
        | Eating well without breaking the bank
    .container.grid.grid--2-cols.margin-bottom-md
      .pricing-plan.pricing-plan--starter
        header.plan-header
          p.plan-name Starter
          p.plan-price
            span $
            | 399
          p.plan-text per month. That&apos;s just $13 per meal!
        ul.list
          li.list-item
            ion-icon.list-icon(name="checkmark-outline")
            span 1 meal per day
          li.list-item
            ion-icon.list-icon(name="checkmark-outline")
            span Order from 11am to 9pm
          li.list-item
            ion-icon.list-icon(name="checkmark-outline")
            span Delivery is free
          li.list-item
            ion-icon.list-icon(name="close-outline")
        .plan-sing-up
          a.btn.btn--full(href="#") Start eating well
      .pricing-plan.pricing-plan--complete
        header.plan-header
          p.plan-name Complete
          p.plan-price
            span $
            | 649
          p.plan-text per month. That&apos;s just $11 per meal!
        ul.list
          li.list-item
            ion-icon.list-icon(name="checkmark-outline")
            span
              strong 2 meals
              | per day
          li.list-item
            ion-icon.list-icon(name="checkmark-outline")
            span Order 
              strong 24/7
          li.list-item
            ion-icon.list-icon(name="checkmark-outline")
            span Delivery is free
          li.list-item
            ion-icon.list-icon(name="checkmark-outline")
            span Get access to latest recipes
        .plan-sing-up
          a.btn.btn--full(href="#") Start eating well
    .container.grid
      aside.plan-details
        | Prices include all applicable taxes. You can cancel at any time.
        | Both plans include the following:
    .container.grid.grid--4-cols
      .feature
        ion-icon.feature-icon(name="infinite-outline")
        p.feature-title Never cook again!
        p.feature-text
          | Our subscriptions cover 365 days per year, even including major
          | holidays.
      .feature
        ion-icon.feature-icon(name="nutrition-outline")
        p.feature-title Local and organic
        p.feature-text
          | Our cooks only use local, fresh, and organic products to prepare
          | your meals.
      .feature
        ion-icon.feature-icon(name="leaf-outline")
        p.feature-title No waste
        p.feature-text
          | All our partners only use reusable containers to package all your
          | meals.
      .feature
        ion-icon.feature-icon(name="pause-outline")
        p.feature-title Pause anytime
        p.feature-text
          | Going on vacation? Just pause your subscription, and we refund
          | unused days.
  section.section-cta
    .container
      .cta
        .cta-text-box
          h2.heading-secondary Get your first meal for free!
          p.cta-text
            | Healthy, tasty and hassle-free meals are waiting for you. Start
            | eating well today. You can cancel or pause anytime. And the
            | first meal is on us!
          form.cta-form(action="#")
            div
              label(for="full-name") Full Name
              input#full-name(type="text", placeholder="John Smith", required)
            div
              label(for="email") Email address
              input#email(type="email", placeholder="me@example.com", required)
            div
              label(for="select-where") Where did you hear from us?
              select#select-where(required)
                option(value="") Please choose one option:
                option(value="friends") Friends and family
                option(value="youtube") YouTube video
                option(value="podcast") Podcast
                option(value="ad") Facebook ad
                option(value="others") Others
            button.btn.btn--form Sign up now
            //
              <input type="checkbox" />
              <input type="number" />
        .cta-img-box(role="img", aria-label="Woman enjoying food")
