extends base

block content 

  section#about.about
    .image
      img(src="image/about-img.png", alt="")
    .content
      span why choose us?
      h3.title what&apos;s make our food delicious!
      p "Experience the deliciousness of our food made with high-quality ingredients and skillful preparation by passionate chefs."
      a.btn(href="#") read more
      .icons-container
        .icons
          img(src="image/serv-1.png", alt="")
          h3 fast delivery
        .icons
          img(src="image/serv-2.png", alt="")
          h3 fresh food
        .icons
          img(src="image/serv-3.png", alt="")
          h3 best quality
        .icons
          img(src="image/serv-4.png", alt="")
          h3 24/7 support
  section.gallery
    h1.title  our 
      span gallery
      a(href="#") view all &gt;&gt;
    .box-container
      .box
        img(src="image/gallery/gallery-img-1.jpg", alt="")
        .icons
          a.fas.fa-eye(href="#")
          a.fas.fa-heart(href="#")
          a.fas.fa-share-alt(href="#")
      .box
        img(src="image/gallery/gallery-3.jpg", alt="")
        .icons
          a.fas.fa-eye(href="#")
          a.fas.fa-heart(href="#")
          a.fas.fa-share-alt(href="#")
      .box
        img(src="image/gallery/gallery-9.jpg", alt="")
        .icons
          a.fas.fa-eye(href="#")
          a.fas.fa-heart(href="#")
          a.fas.fa-share-alt(href="#")
      .box
        img(src="image/gallery/gallery-10.jpg", alt="")
        .icons
          a.fas.fa-eye(href="#")
          a.fas.fa-heart(href="#")
          a.fas.fa-share-alt(href="#")
      .box
        img(src="image/gallery/gallery-5.jpg", alt="")
        .icons
          a.fas.fa-eye(href="#")
          a.fas.fa-heart(href="#")
          a.fas.fa-share-alt(href="#")
      .box
        img(src="image/gallery/gallery-img-2.jpg", alt="")
        .icons
          a.fas.fa-eye(href="#")
          a.fas.fa-heart(href="#")
          a.fas.fa-share-alt(href="#")
      .box
        img(src="image/gallery/gallery-img-3.jpg", alt="")
        .icons
          a.fas.fa-eye(href="#")
          a.fas.fa-heart(href="#")
          a.fas.fa-share-alt(href="#")
      .box
        img(src="image/gallery/gallery-img-4.jpg", alt="")
        .icons
          a.fas.fa-eye(href="#")
          a.fas.fa-heart(href="#")
          a.fas.fa-share-alt(href="#")
      .box
        img(src="image/gallery/gallery-img-5.jpg", alt="")
        .icons
          a.fas.fa-eye(href="#")
          a.fas.fa-heart(href="#")
          a.fas.fa-share-alt(href="#")
      .box
        img(src="image/gallery/gallery-img-6.jpg", alt="")
        .icons
          a.fas.fa-eye(href="#")
          a.fas.fa-heart(href="#")
          a.fas.fa-share-alt(href="#")
  section.footer
    .newsletter
      h3 newsletter
      form(action="")
        input(type="email", name="", placeholder="enter your email", id="")
        input(type="submit", value="subscribe")
    .box-container
      .box
        h3 our menu
        a(href="#")
          i.fas.fa-arrow-right
          | pizza
        a(href="#")
          i.fas.fa-arrow-right
          | burger
        a(href="#")
          i.fas.fa-arrow-right
          | chicken
        a(href="#")
          i.fas.fa-arrow-right
          | pasta
        a(href="#")
          i.fas.fa-arrow-right
          | and more...
      .box
        h3 quick links
        a(href="#home")
          i.fas.fa-arrow-right
          | home
        a(href="#about")
          i.fas.fa-arrow-right
          | about
        a(href="#popular")
          i.fas.fa-arrow-right
          | popular
        a(href="#menu")
          i.fas.fa-arrow-right
          | menu
        a(href="#order")
          i.fas.fa-arrow-right
          | order
        a(href="#blogs")
          i.fas.fa-arrow-right
          | blogs
      .box
        h3 extra links
        a(href="/paymentGateway")
          i.fas.fa-arrow-right
          | my order
        a(href="#")
          i.fas.fa-arrow-right
          | my account
        a(href="#")
          i.fas.fa-arrow-right
          | my favorite
        a(href="#")
          i.fas.fa-arrow-right
          | terms of use
        a(href="#")
          i.fas.fa-arrow-right
          | privary policy
      .box
        h3 opening hours
        p monday : 7:00am to 10:00pm
        p tuesday : 7:00am to 10:00pm
        p wednesday : 7:00am to 10:00pm
        p friday : 7:00am to 10:00pm
        p saturday and sunday closed
    .bottom
      .share
        a.fab.fa-facebook-f(href="#")
        a.fab.fa-twitter(href="#")
        a.fab.fa-instagram(href="#")
        a.fab.fa-linkedin(href="#")
        a.fab.fa-pinterest(href="#")
      .credit  created 
        span mr. web designer
        | | all rights reserved!    